
.input-container {
    position: relative;
    
  }

  input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }

  input:focus + label, input:not(:placeholder-shown) + label {
    top: -10px;
    left: 5px;
    background: white;
    padding: 0 5px;
  }

  label {
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    pointer-events: none;
    transition: 0.2s;
  }

  .select-container {
    position: relative;
    width: 350px;
  }
  
  .select-container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  