/* user.css */

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Assuming a 16:9 aspect ratio; adjust as needed */
  
    /* Add any additional styling you need for the content on top of the video */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the video behind other elements */
  }
  
/* destination */

  .search-container {
    margin: 20px 0;
    text-align: center;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
  }
  
  .results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .category-container {
    margin: 20px;
    width: 80%; /* Adjust as needed */
  }
  
  .category-container h1 {
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
  }
  
  .result-item {
    margin-bottom: 20px;
  }
  
  .result-item p {
    margin: 5px 0;
  }
  
  .result-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .no-data {
    text-align: center;
    color: #333;
  }
  
/* Book Hotel */



  